<%= form_tag(sessions_path) do %>
  Email: <%= text_field_tag :email %><br><br>
  Password:<%= password_field_tag :password %><br><br>

  <%= submit_tag "Log in" %><br>
<% end %>
<h3><%= link_to  "Home", root_path %></h3>
