<img style="-webkit-user-select: none;cursor: zoom-in;" src="https://images.wisegeek.com/two-shelves-of-books.jpg" width="1300" height="300">

<h2><%= @author.name %></h2>

<% @books.each do |book| %>
  <%= link_to image_tag("https://www.ioba.org/pages/wp-content/uploads/2011/12/alledgesgilt.jpg"), book_path(book) %>

  <strong><h3> Title: <%= book.title %></h3></strong>
  <strong><p> Genre: <%= book.genre %></p></strong>
  <strong><p> Price: $ <%= book.price %></p></strong>
  <strong><p> Summary: </strong><%= book.summary %></p>
  <h3><%= link_to "Add to Shopping Cart",  shopping_cart_list_items_path(book) %></h3>
<% end %>

<h3><%= link_to  "Home", root_path %></h3>
