<img style="-webkit-user-select: none;cursor: zoom-in;" src="https://images.wisegeek.com/two-shelves-of-books.jpg" width="1300" height="300">

<strong><h2><%= @book.title %></h2></strong>
<strong><h3> Author: <%= @book.author.name %></h3></strong>
<strong><p> Price: $ <%= @book.price %></p></strong>
<%= link_to "Add to Cart",  shopping_cart_list_items_path(@book) %><img src="https://image.freepik.com/free-icon/shopping-cart-of-checkered-design_318-50865.jpg" width="30" height="30"><br><br>
<strong>Summary:</strong> <%= @book.summary %>
<h3><%= link_to  "Home", root_path %></h3>
