<img style="-webkit-user-select: none;cursor: zoom-in;" src="https://images.wisegeek.com/two-shelves-of-books.jpg" width="1300" height="300">

<strong><h2><%= @book.title %></h2></strong>
<strong><h3> Author: <%= @book.author.name %></h3></strong>
<strong><p> Price: $ <%= @book.price %></p></strong>
<strong><p>Summary: </strong><%= @book.summary %></p>
<h3><%= link_to "Add to Shopping Cart",  shopping_cart_list_items_path(@book) %></h3>

<h3><%= link_to  "Back to Books", root_path %></h3>
