<%= form_for @list_item do |f| %>
    <p><%= f.collection_check_boxes :book, @books, :id, :title %></p>
    <p><%= f.label "Quantity" %></p>
    <p><%= f.number_field :quantity %></li> <p>
  <%= f.submit "Add Books to Shopping Cart" %>
<% end %>
