<%= form_for @list_item do |f| %>
    <%= f.collection_check_boxes(:book, @books, :id, :title) do |b| %>
    <p>
      <%= b.label %>
      <%= b.check_box %><br>
      <%= f.label "Quantity" %>
      <%= f.number_field :quantity %>
    </p>
    <% end %>
  <%= f.submit "Proceed to Checkout" %>
<% end %>
